@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* Globals Configs */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

.limitar-secao{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Top configs */

.topo{
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    color: #3d3d3d;
}

.container-link-logo{
    flex: 1 0 60%;
}

.container-link-logo a{
    text-decoration: none;
    font-size: 24px;
    color: #3d3d3d;
}

.container-link-logo span{
    color: #6592c9;
}

/* Navbar configs */

.container-navbar{
    display: flex;
    flex: 1 0 150px;
    justify-content: space-between;
}

.link-topo{
    text-decoration: none;
    color: #3d3d3d;
}

/* Main configs */

.container-banner{
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background-image: url("../src/img-fundo.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-titulo-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    font-size: 28px;
    color: #fff;
    background-color: #0a9077b3;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
}

.secao-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 100px 20px;
}

.container-descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-descricao h2, p{
    font-weight: 400;
}

/* Bedrooms styles */

.container-quarto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.quarto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    border-bottom: 4px solid #0a9077b3;
    border-radius: 2px;
}

.quarto img{
    width: 350px;
    border-radius: 4px;
}

.quarto a{
    text-decoration: none;
    color: #3d3d3d;
    padding-bottom: 20px;
}

/* Rota Style */

#rota{
    padding: 0;
}

/* Cards Style */

.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container-card-descricao{
    width: 70%;
}

.container-card-img img{
    width: 100px;
    height: 120px;
    border-radius: 4px;
}

/*Rodape style */

.container-rodape{
    background-color: #49997d;
    color: #fff;
    margin: 0 -20px -100px -20px;
}

.container-card-rodape{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.card-rodape{
    display: flex;
    flex: 1 0 300px;
    justify-content: center;
    align-items: center;
}

.card-rodape h4{
    font-size: 22px;
}

.card-rodape a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

.card-rodape p{
    margin-left: 10px;
}

.card-rodape img{
    width: 30px;
    height: 30px;
}

.container-copyright{
    padding: 20px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #3b7863;
}